*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  font-family: arial;
}
body{
  background:  #F9FAFF;;
}
.meet-our-team{
  width: 1176px;
  height: 400PX;
  background: #F7F8FD;
  margin: auto;
}

.meet-our-team h2 {
  font-weight: 700;
  font-size: 40px;
  color: #3D3D3F;
  text-align: center;
  margin-bottom: 44.88px;
}

.block{
  background: green;
  border: 1px solid #EEEFF1;
  border-radius: 10px;
  width: 267px;
  height: 400px;
}

.meet-our-team__block{
  width: 267px;
  float: left;
  margin-right: 36px;
  height: 400px;
  /*  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);*/
  border: 1px solid #EEEFF1;
  border-radius: 10px;
  box-shadow: 0px 10px 10px whitesmoke;
  padding: 12px;
}
.meet-our-team__block .photo{
  width: 241px;
  height: 249px;
  object-fit: cover;
  object-position: 0px -30px;
  border-radius: 10px;
}

.meet-our-team__block:nth-child(5){
  margin-right: 0px;
}
.meet-our-team__block h4{
  margin-left: 70px; 
  margin-top: 18px;
}
.meet-our-team__block h5{
    margin-left: 70px;
    margin-top: 1px;
    color: #999999; 
}
.socials{
    margin-left: 70px;
    margin-top: 17px;
}
.social{
    margin-top: 17px;
    margin-left: 5px;
}
.socia{
    margin-top: 17px;
}